@using PrepareExam.Models.ViewModels
@model ExamPartsViewModel
@{
    ViewData["Title"] = "Sınav-Sonucu";
    string[] choises = { "A", "B", "C", "D" };
}
<style>

    li.checkbefore {
        background-color: azure;
    }
</style>
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h5  class="card-title">@Model.Blog.Title</h5>
            <p class="card-text">@Model.Blog.Content</p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row question">
        @{
            int s = 1;
            foreach (var item in Model.Questions)
            {
                <div class="card ml-3 mb-1 p-2">
                    <div class="card-body">
                        <p class="card-text questioncontent">@s) @item.QuestionContent</p>
                    </div>
                    <div class="card mb-2 m-2" style="width:31rem;">

                        <ul class="list-group list-group-flush answerlist">

                            @{
                                int c = 0;
                                foreach (var itemA in item.Answers)
                                {
                                    if (itemA.AnswerStatus == "true")
                                    {
                                        <li style="background-color:lightgreen" class="list-group-item">
                                            <i class="@choises[c]">@choises[c]</i>
                                            ) @itemA.AnswerContent
                                        </li>
                                    }
                                    else if (itemA.AnswerStatus == "false")
                                    {
                                        <li style="background-color: lightcoral " class="list-group-item">
                                            <i class="@choises[c]">@choises[c]</i>
                                            ) @itemA.AnswerContent
                                        </li>
                                    }
                                    else if(itemA.AnswerStatus == "")
                                    {
                                        <li style="background-color: none " class="list-group-item">
                                            <i class="@choises[c]">@choises[c]</i>
                                            ) @itemA.AnswerContent
                                        </li>
                                    }

                                    c++;
                                }
                            }
                        </ul>
                    </div>
                </div>

                s++;
            }
        }
    </div>
    <div class="row" style="justify-content:center">
        <div class="col-6">
            <a href="/" id="finishexam" class="btn btn-primary form-control">
                Anasayfaya Dön
            </a>
        </div>
    </div>
</div>
